/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-color: var(--bg-color, #fff);
  background-attachment: fixed;
  font-family: var(--main-font, "Inter-Variable", serif);
  font-variation-settings: 'wght' var(--font-weight-card-text, 400);
  color: var(--color-main, #000);
}

.header {
  margin-block-start: 100px;
  margin-block-end: 100px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
  min-inline-size: 371px;
  max-inline-size: var(--width, 43.75rem);
  display: flex;
  flex-direction: column;
}

.header .card {
  gap: 20px;
  padding-block: 128px;
  justify-content: center;
  align-items: center;
  inline-size: var(--width, 43.75rem);
}

.header__title {
  font-family: var(--font-accent, fantasy);
  font-size: clamp(3.063rem, 2.063rem + 3.2vi, 4.063rem);
  vertical-align: bottom;
  text-transform: uppercase;
}

.header__text {
  font-family: var(--font-accent, fantasy);
  font-size: clamp(0.875rem, 0.313rem + 1.8vi, 1.438rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  gap: 52px;
  flex-direction: column;
  align-items: center;
  padding-block-end: 103px;
}

.card__title {
  font-variation-settings: 'wght' var(--font-weight-card-title, 700);
  font-size: 18px;
  border-bottom: 2px solid #000;
  padding-block-start: 5px;
  padding-block-end: 3px;
  padding-inline: 10px;
}

.card__image {
  position: relative;
  /* inline-size: var(--width, 43.75rem); */
  block-size: var(--width, 43.75rem);
  border-bottom: 2px solid #000;
}

.watermark {
  position: absolute;
  text-shadow: 1px #fff;
  font-family: var(--font-accent, "PressStart2P", fantasy);
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  z-index: 1;
  opacity: 0.5;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .watermark {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.image {
  display: block;
  object-fit: cover;
  object-position: right;
  inline-size: 100%;
  block-size: 100%;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  padding: 25px 25px 27px;
}

.memories {
  padding: 0 25px 25px;
}

.card__buttons {
  display: flex;
  align-self: self-end;
  align-items: flex-end;
  gap: 6px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

button {
  cursor: pointer;
  padding: 0;
  border: 2px solid #000;
}

.card__icon-button {
  width: 39px;
  height: 38px;
  display: flex;
  align-items: baseline;
  background-color: transparent;
  border-color: transparent;
  transition: border 0.3s ease;
}

.card__like-button {
  width: 130px;
  height: 38px;
  align-content: center;
  background-color: transparent;
}

.button__text {
  font-family: var(--font-accent, fantasy);
  font-weight: var(--font-weight-card-text, 400);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  color: #fff;
}

.button__download {
  width: 335px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #fff;
}

.dialog {
  width: 353px;
  background-color: #fff;
  border: 2px solid #000;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog:open {
  display: grid;
  grid-template-columns: 39px 234px;
  gap: 30px 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding: 28px;
}

.dialog:open .dialog-floppy {
  grid-column: 1;
  grid-row: 1;
}

.dialog:open .button__text:first-of-type {
  line-height: 150%;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 1;
}

.dialog:open .button__ok {
  grid-column: 1 / -1;
  grid-row: 2;
}

.button__ok {
  width: 293px;
  height: 38px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.button {
  transition: box-shadow 0.3s ease;
  position: relative;
}

button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--contour-color);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-main, #000);
}

.button::before {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--color-main, #000);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__floppy {
  mix-blend-mode: difference;
  stroke: var(--color-accent, #fff);
  fill: var(--color-accent, #fff);
  z-index: 2;
}

.heart {
  display: inline-block;
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s 0.03s;
}

.main-body {
  transition: fill 0.3s 0.05s;
}

.contour {
  transition: fill 0.3s 0.06s;
}

.card__icon-button:hover .core,
.card__icon-button:hover .main-body {
  fill: var(--contour-color);
}

.card__icon-button:not(:hover) .main-body {
  transition-delay: 0;
}

.card__icon-button:active .core,
.card__icon-button:active .main-body {
  fill: var(--fill-color);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: var(--fill-color);
}

.like-icon.is-liked .heart {
  animation: heart-animation 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: spark-animation 0.3s ease-in 0.3s;
}

.like-icon:not(.is-liked) .contour {
  transition: fill 0.1s linear;
}

.saturate {
  filter: saturate(87%);
}

.sepia-hue-rotate {
  filter: sepia(45%) hue-rotate(-50deg);
}

.brightness {
  filter: brightness(80%);
}

.blur {
  filter: blur(36%);
}

.grayscale {
  filter: grayscale(0.7);
}

.invert {
  filter: invert(0.9);
}

.contrast {
  filter: contrast(27%);
}

@media (width <= 392px) {
  .dialog:open {
    grid-template-columns: 39px 216px;
  }

  .button__ok {
    width: 275px;
  }
}

@media (width <= 375px) {
  .header .card {
    padding-block: 120px;
  }

  .card__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  .card__text {
    padding: 30px 28.2px 27px 25px;
  }

  .memories {
    padding: 0px 25px 25px;
  }

  .button__download {
    flex-direction: column;
    height: 80px;
    width: 306px;
  }

  .button__floppy {
    width: 28px;
    height: 28px;
  }

  .watermark {
    inset-inline-end: 11px;
    inset-block-start: 25px;
  }

  .dialog {
    width: 341px;
  }

  .dialog:open {
    grid-template-columns: 39px 198px;
  }

  .button__ok {
    width: 257px;
  }
}
